body {
  background-color: lightblue;  
}

#topToolbar {
    margin-top: 5px;
    margin-bottom: 10px;
}

#messagesTextarea {
  height: 500px;
  width: 90%;  
  padding: 5px;
  resize: none;
}

#chatTextarea {
  width: 90%;
  vertical-align: top;
  resize: none; 
  background-color: #eeeeee;
  padding: 5px;
}

#spacer {
  height: 10px;
}

